{% block title %}Rattacher une carte{% endblock %}

{% block body %}
    <h5 class="text-color text-center">Rattacher une carte</h5>
    {{ form_start(form, {'attr' : {'id': 'add-card'}}) }}
    <div id="message" class="alert alert-{{ typeMessage }} d-none">{{ message }}</div>
    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-md-8 ">
            {{ form_row(form.card_number, {'label_attr': {'class': 'd-none'}}) }}
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-block btn-lg btn-success" id="btn-add-customer-card">
            Enregistrer
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}