{% extends app.request.xmlHttpRequest
    ? 'base_ajax.html.twig'
    : 'base.html.twig' %}

{% block title %}Déclarer une carte perdue ou volée{% endblock %}

{% block body %}
    <div class="container-fluid dashboard">
        <div class="row">
            {% include('admin/menu.html.twig') %}
            <div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Désactiver une carte</h1>
                    {% set disableButton = 0 %}
                </div>
                <div id="response" class="row">
                    {{ form_start(form, {'action': path('card_lost'), 'method': 'post', 'id': 'form-lost-card'}) }}
                    <div id="error-ajax" class="d-none">
                        {{ 'lost_card.inactive.error'|trans({}, 'forms') }}
                    </div>
                    <div id="message" class="alert alert-{{ typeMessage }} d-none">{{ message }}</div>
                    <div class="form-row">
                        <div class="form-group">
                            {{ form_row(form.customers, {'attr': { 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-row" id="lost-card-select">
                        <div class="form-group">
                            {% do form.cards.setRendered %}
                            {% if cards is not empty or cards|length > 0 %}
                                <label class="" for="lost_card_cards">
                                    {{ 'lost_card.select.placeholder.card'|trans({}, 'forms') }}
                                </label>
                                <select class="form-control" id="lost_card_cards" name="lost_card[cards]">
                                    <option value="" disabled>{{ 'lost_card.select.placeholder.card'|trans({}, 'forms') }}</option>
                                    {% for card in cards %}
                                        <option value="{{ card.id }}">{{ card.getCompleteCode() }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                {% set disableButton = 1 %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <ul class="list-inline d-flex">
                            <li class="m-2">
                                <button type="submit" class="btn btn-primary btn-sm" id="btn-select-customer" {% if disableButton == 1 %}disabled {% endif %}>
                                    {% if labelButton is same as (null) %}
                                        {{ 'lost_card.select.label.button'|trans({}, 'forms') }}
                                    {% else %}
                                        {{ 'lost_card.select.label.submit'|trans({}, 'forms') }}
                                    {% endif %}
                                </button>
                            </li>
                            <li class="m-2">
                                <a class="btn btn-danger btn-sm" href="{{ path('card_lost') }}">
                                    {{ 'lost_card.select.label.cancel'|trans({}, 'forms') }}
                                </a>
                            </li>
                        </ul>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}