{% extends 'base.html.twig' %}

{% block title %}{{ 'title.new'|trans({}, 'crud') }} {{ (class|trans({}, 'crud'))|capitalize }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPERADMIN') %}
        {% include('admin/menu.html.twig') %}
    {% endif %}
    <div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ 'title.new'|trans({}, 'crud') }} {{ (class|trans({}, 'crud'))|capitalize }}</h1>

            {{ include('superadmin/crud/_form.html.twig') }}

            <a class="btn btn-outline-secondary"
               href="{{ path('crud_index', {'class' : class}) }}">{{ 'link.back'|trans({}, 'crud') }}</a>
        </div>
    </div>
{% endblock %}
