{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPERADMIN') %}
        {% include('admin/menu.html.twig') %}
    {% endif %}

    <div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Offre {{ entity.name }}</h1>
        </div>
        {% if is_granted('ROLE_SUPERADMIN') %}
            <a href="{{ path('crud_index', {'class' : class}) }}"
               class="btn btn-outline-primary mb-3">
                Retour vers la liste
            </a>
        {% endif %}
        <div class="card">
            <h5 class="card-header text-center">{{ entity.name }}</h5>
            <div class="card-body">
                <p class="card-title text-muted">Valide {{ entity.startDate ? entity.startDate|date('d/m/Y') : '' }}
                    au {{ entity.endDate ? entity.endDate|date('d/m/Y') : '' }}</p>
                <p class="card-text">{{ entity.description }}</p>
                <p class="card-text">Points de fidélité nécessaires : <span
                            class="font-weight-bold">{{ entity.costPoint }}</span> pts </p>

                <div class="d-flex justify-content-end">
                    {% if is_granted('ROLE_SUPERADMIN') %}
                        <a href="{{ path('crud_edit', {'id': entity.id, 'class': class }) }}" class="btn btn-warning">
                            Modifier
                        </a>
                        {{ include('crud/_delete_form.html.twig', {'class': class }) }}
                        <a href="{{ path('crud_new', { 'class': class }) }}"
                           class="btn btn-outline-primary mb-3">
                            Créer une offre
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

