{% extends 'base.html.twig' %}

    {% block title %}Cartes de fidélité{% endblock %}

    {% block body %}
        {% include('admin/menu.html.twig') %}
        <div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Cartes de fidélités</h1>
            </div>

            <a href="{{ path('card_new') }}"
               class="btn btn-outline-primary mb-3">
                Créer une carte
            </a>
            <div class="table-responsive table-hover">
                <table class="table table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Numéro de carte</th>
                        <th scope="col">Centre</th>
                        <th scope="col">Statut</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for card in cards %}
                        <tr class="{% if card.id == last_card.0.id %} bg-secondary {% endif %}">
                            <th scope="row"
                                {% if card.id == last_card.0.id %}style="color:white" {% endif %}>{{ card.code }}</th>
                            <td {% if card.id == last_card.0.id %}style="color:white" {% endif %}>{{ card.store }}</td>
                            <td {% if card.id == last_card.0.id %}style="color:white" {% endif %}>
                                {% for key, value in card.status %}
                                    {{ key|trans({}, 'workflow') }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination justify-content-center">
                {{ knp_pagination_render(cards) }}
            </div>
        </div>


    {% endblock %}
