{% extends 'base.html.twig' %}

    {% block title %}Cartes de fidélité{% endblock %}

    {% block body %}
        <h1>Cartes de fidélité</h1>

        <a href="{{ path('app_card_edit') }}"
           class="btn btn-outline-primary mb-3">
            Ajouter une carte
        </a>

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Numéro de carte</th>
                <th>Centre Laser game</th>
                <th>Client</th>
                <th width="250px"></th>
            </tr>
            {% for card in cards %}
                <tr>
                    <td>{{ card.id }}</td>
                    <td>{{ card.cardCode(card) }}</td>
                    <td>{{ card.store }}</td>
                    <td >{{ card.user }}</td>
                    <td>
                        <a href="{{ path('app_card_edit', {'id': card.id}) }}"
                           class="btn btn-primary">
                            Modifier
                        </a>
                        <a href="{{ path('app_card_delete', {'id': card.id}) }}"
                           class="btn btn-danger">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        Aucun résultat
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
