<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('lib/css/style.css') }}">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">Shinigami Laser</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Recherche" aria-label="Recherche">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('logout_route') }}">Deconnexion</a>
                </li>
            </ul>
        </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <a class="navbar-brand" href="{{ path('home') }}">Shinigami Laser</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == '#' ? 'active' }}" href="#">
                            <span data-feather="box"></span>
                            Offres
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lien2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lien3</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if app.user is not null %}
                        <li class="nav-item">
                        <span class="nav-link">
                            {{ app.user }}
                        </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout_route') }}">
                                Déconnexion
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </div>
        </nav>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
<div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">
        {% endif %}

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ type }} mt-2">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
</div>
    {% endif %}


    {% block body %}{% endblock %}



        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
