{% extends 'base.html.twig' %}

    {% block title %}Magasins{% endblock %}

    {% block body %}
        <h1>Magasins</h1>

        <a href="{{ path('app_store_edit') }}"
           class="btn btn-outline-primary mb-3">
            Ajouter un magasin
        </a>

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Numéro de centre</th>
                <th>Nom du centre</th>
                <th>Numéro de rue</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th width="250px"></th>
            </tr>
            {% for store in stores %}
                <tr>
                    <td>{{ store.id }}</td>
                    <td>{{ store.centerCode }}</td>
                    <td>{{ store.name }}</td>
                    <td >{{ store.numberStreet }}</td>
                    <td >{{ store.nameStreet }}</td>
                    <td >{{ store.zipCode }}</td>
                    <td >{{ store.city }}</td>
                    <td >{{ store.country }}</td>
                    <td>
                        <a href="{{ path('app_store_edit', {'id': store.id}) }}"
                           class="btn btn-primary">
                            Modifier
                        </a>
                        <a href="{{ path('app_store_delete', {'id': store.id}) }}"
                           class="btn btn-danger">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        Aucun résultat
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
