<div class="table-responsive table-hover">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Date de début</th>
            <th scope="col" class="text-center">Date de fin</th>
            <th scope="col" class="text-center">Description</th>
            <th scope="col" class="text-center">Points de fidélité à dédurie</th>
            <th scope="col" class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        {% for deal in deals %}
            {% set in_card = false %}
            {% if cards is defined %}
                {% for card in cards %}
                    {% set in_card = deal in card.deals ? true : false %}
                {% endfor %}
            {% elseif card is defined %}
                {%  set in_card = deal in card.deals ? true : false %}
            {% endif %}
            <tr>
                <td scope="row" class="text-center">{{ deal.name }}</td>
                <td scope="row" class="text-center">{{ deal.startDate ? deal.startDate|date('d/m/Y') : '' }}</td>
                <td scope="row" class="text-center">{{ deal.endDate ? deal.endDate|date('d/m/Y') : '' }}</td>
                <td scope="row" class="text-center">{{ deal.description|length > 30 ? deal.description|slice(0, 25) ~ '...' : deal.description  }}</td>
                <td scope="row" class="text-center">{{ deal.costPoint }}</td>
                <td width="300">
                    <a href="{{ path('deal_show', {'id' : deal.id}) }}" class="btn btn-danger">
                        Voir
                    </a>
                    {% if in_card == false and enabled == 1 %}
                        <a href="{{ path('deal_add_card', {'deal': deal.id, 'card': card.id }) }}" class="btn btn-primary">
                            Ajouter
                        </a>
                    {% elseif in_card == true and enabled == 1 %}
                        <a href="{{ path('deal_display_user') }}">
                            Dans vos deals
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune offre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>