{% extends 'base.html.twig' %}

{% block title %}Deal index{% endblock %}

{% block body %}
    <h1>Deal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Description</th>
                <th>CostPoint</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deal in deals %}
            <tr>
                <td>{{ deal.id }}</td>
                <td>{{ deal.name }}</td>
                <td>{{ deal.startDate ? deal.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ deal.endDate ? deal.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ deal.description }}</td>
                <td>{{ deal.costPoint }}</td>
                <td>
                    <a href="{{ path('deal_show', {'id': deal.id}) }}">show</a>
                    <a href="{{ path('deal_edit', {'id': deal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('deal_new') }}">Create new</a>
{% endblock %}
